/* Print-specific styles */
@media print {
    /* Media query for print view */
    body {
        background: none; /* Remove background when printing */
    }

    form, .print-instructions, h3, hr {
        display:none; /* Hide form, header (h3), horizontal lines, and print instructions */
    }


    img {
        width: 100%;
        border: none; /* Remove borders from the barcode images */
    }

    div {
        box-shadow: none;
        border: none;
        padding: 0;
    }
}
/* Non-print styles */
body {
    background: radial-gradient(circle, rgba(201, 206, 231, 1) 10%, rgba(0, 0, 0, 1) 100%);
}

div {
    box-shadow: none;
    border: none;
    padding: 0;
}

div {
    box-shadow: rgba(0, 0, 0, 0.877) 0px 5px 15px; 
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    background-color: #eee;
}

h3 {
    font-family: 'Lucida Grande', sans-serif;
}

hr {
    border: 2px solid black;
}

input[type="text"], 
input[type="text"],
input[type="number"], 
button {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

input[type="text"]:focus, input[type="number"]:focus {
    border-color: #f3e84f;
    box-shadow: 0 0 10px rgba(255, 238, 0, 0.8);
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #cfe037;
}
